@import "colors";
@import "fonts";

html,
body {
    color: $font;
    position: relative;
    scroll-behavior: smooth;
}

.transition-all {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

// Header section css start
.header_section {
    padding: 10px 0px;
    width: 100%;
    background-color: #ececec;
    //   min-height: 70px;

    .container-fluid {
        max-width: 1140px;
    }

    .logo_sectiom {

        // img {
        //     width: 158px;
        //     height: 149px;
        // }
        img {
            width: 128px;
            height: 119px;
        }
    }

    .header_menu_block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .nav_menu_section {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 0px;
            padding-bottom: 10;

            .active-nav {
                color: $secondary;
            }

            .nav_menu {
                padding: 0px 30px;
                border-right: 1.8px solid $primary;

                &:last-child {
                    padding-right: 0px;
                    border-right: none;
                }

                // a.active-nav {
                //     color: $secondary !important;
                // }

                a {
                    text-decoration: none;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: $primary;
                    letter-spacing: 1px;
                    font-weight: 600;

                    &:hover {
                        color: $secondary;
                        -webkit-transition: all 0.3s;
                        -moz-transition: all 0.3s;
                        -ms-transition: all 0.3s;
                        -o-transition: all 0.3s;
                        transition: all 0.3s;
                    }

                }

                a::after {
                    content: "";
                    display: block;
                    margin: auto;
                    height: 3px;
                    width: 0;
                    top: 5px;
                    background: transparent;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;
                }

                a:hover::after,
                a.active-nav::after {
                    width: 50%;
                    background: $secondary;
                }

            }

        }
    }

    .burger_section {
        display: none;
    }

}

.burger_icon {
    font-size: 30px;

    &:hover {
        cursor: pointer;
    }
}

.close_icon_section {
    display: none;
}

.show_menu {
    display: block !important;
    width: 100%;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

@media only screen and (max-width:992px) {

    .menu_section {
        display: none;
    }

    .close_icon_section {
        display: block;
        width: 50px;
        height: 50px;
        left: 0px;
        top: 0px;
        float: right;
        text-align: center;

        .close_icon {
            text-align: center;
            font-size: 30px !important;
            line-height: 50px;
        }
    }

    .menu_section {
        .menu_overlay {
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.8);
            position: absolute;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
        }

        .nav_menu_section,
        .menu_section_box {
            z-index: 1;
            background-color: $white;
            position: relative;
            display: inherit !important;
            width: 40%;
            height: 100vh;

            .active-nav {
                color: $secondary;
            }

            .nav_menu_section {
                top: 50px;
                width: 100%;
            }

            .nav_menu {
                padding: 10px 30px !important;
                border-right: none !important;

                &:last-child {
                    padding-right: 30px !important;
                }

                a::after {
                    content: "";
                    display: block;
                    margin: inherit !important;
                    height: 3px;
                    width: 0;
                    top: 5px;
                    background: transparent;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;
                }

                a:hover::after,
                a.active-nav::after {
                    width: 70% !important;
                    background: $secondary;
                }

            }

        }
    }

    .burger_section {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .header_section {
        .logo_sectiom {
            img {
                width: 128px;
                height: 119px;
            }
        }
    }

    .menu_section {
        .menu_overlay {
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.8);
            position: absolute;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
        }

        .nav_menu_section,
        .menu_section_box {
            z-index: 1;
            background-color: $white;
            position: relative;
            display: inherit !important;
            width: 70%;
        }

        .nav_menu_section {
            top: 50px;
        }

        .nav_menu {

            a:hover::after,
            a.active-nav::after {
                width: 100% !important;
                background: $secondary;
            }

        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {

    .logo_sectiom {

        // img {
        //     width: 148px;
        //     height: 139px;
        // }
        img {
            width: 128px;
            height: 119px;
        }
    }

    .menu_section {
        .nav_menu_section {
            .nav_menu {
                padding: 2px 20px !important;
            }
        }
    }
}

// Header section css end


// Footer section css start
.footer_section {
    width: 100%;
    background-image: url(../images/footer_background.png);
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0px;

    .hr_line {
        border-bottom: 1px solid $secondary;
        opacity: 2;
    }

    .footer_menu_section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        padding-bottom: 10;

        .footer_menu {
            padding: 2px 30px;
            border-right: 1px solid $secondary;

            &:last-child {
                border-right: none;
            }

            a {
                text-decoration: none;
                font-size: 16px;
                text-transform: uppercase;
                color: $font_white;
                letter-spacing: 1px;
            }

            &:hover {
                color: $font_white;
            }
        }

    }

    .footer_text_section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;

        .map_icon_block {
            width: 40px;

            .map_icon_box {
                width: 30px;
                height: 30px;
                background-color: $secondary;
                text-align: center;
                border-radius: 30px;
                // margin-right: 10px;

                i {
                    justify-content: center;
                    align-items: center;
                    line-height: 30px;
                    font-size: 14px;
                    color: $primary;
                }

            }
        }

        .footer_text {
            font-family: 'Montserrat-Regular';
            font-size: 14px;
            color: $font_white;
            letter-spacing: 1px;
        }
    }

    .social_icon_section {
        margin-top: 40px;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 0px;

            .social_icon_box {
                display: inline !important;
                width: 40px !important;
                height: 40px !important;
                background-color: $secondary;
                text-align: center;
                border-radius: 40px;
                margin: 0px 5px;

                i {
                    justify-content: center;
                    align-items: center;
                    line-height: 40px;
                    font-size: 14px;
                    color: $primary;
                }

                &:first-child {
                    margin-left: 0px;
                }

                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }

}

@media only screen and (max-width: 767px) {
    .footer_menu_section {
        display: inherit !important;
        column-count: 2;

        .footer_menu {
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 10px 0px;
            padding: 2px 10px !important;

            &:nth-child(1) {
                margin-top: 0px;
            }

            &:nth-child(4),
            &:nth-child(5) {
                border-right: none;
            }

            a {
                font-size: 12px !important;
            }
        }
    }

    .footer_text_section {
        .map_icon_block {
            .map_icon_box {
                margin-right: 10px;
            }
        }
    }
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
    .footer_menu_section {
        display: inherit !important;
        column-count: 3;

        .footer_menu {
            margin: 8px 0px;
            justify-content: center;
            align-items: center;
            text-align: center;

            &:nth-child(1) {
                margin-top: 0px;
            }

            &:nth-child(5) {
                border-right: none;
            }

            a {
                font-size: 12px !important;
            }
        }
    }
}

// Footer section css end

// Banner section css start
.banner_section {
    width: 100%;
    // min-height: 600px;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;

    .main_sider.slick-dotted.slick-slider {
        margin-bottom: 0 !important;
    }

    .main_sider {

        // min-height: 600px;


        img {
            width: 100%;
        }

        .slick-dots {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 1rem 0;
            bottom: 10px;
            list-style-type: none;

            li {
                margin: 0 0.25rem;

                // button:before {
                //     font-size: 9px;
                // }
            }

            // li.slick-active button:before {
            //     font-size: 11px;
            // }

            button {
                display: block;
                width: 1rem;
                height: 1rem;
                padding: 0;
                border: none;
                border-radius: 100%;
                background-color: $white;
                text-indent: -9999px;
            }

            li.slick-active button {
                background-color: $secondary;
            }

        }
    }
}

// Banner section css end

// Mid banner section css start

.mid_banner {
    // background-color: #163029;

    .container {
        width: 100%;
        // min-height: 600px;
        max-width: 1920px;
        margin: 0 auto;
        overflow-x: hidden;
        background-color: #0E2C24;

        img {
            width: 100%;
        }
    }
}

// Mid banner section css end

// Title section css start
.title_section {
    .container {
        width: 100%;
        // min-height: 600px;
        max-width: 1920px;
        margin: 0 auto;
        overflow-x: hidden;
        background-color: $secondary;
        padding: 20px 0px;

        .title_text {
            text-transform: uppercase;
            font-size: 40px;
            letter-spacing: 1;
            font-family: 'Gotham-Book-Regular';
            font-weight: 600;
        }
    }
}

@media only screen and (max-width: 767px) {
    .title_section {
        .container {
            .title_text {
                font-size: 30px;
            }
        }
    }
}

// Title section css end

// Product section css start
.product_slider_section {
    .product_sider {
        width: 100%;
        // min-height: 600px;
        max-width: 1920px;
        margin: 0 auto;
        overflow-x: hidden;
        padding: 20px 0px;

        .slick-slide {
            padding: 20px;
            min-height: 400px;
            background: -webkit-linear-gradient(140deg, #b0ced9, #ebecc7, #bad872);
            background: -ms-linear-gradient(140deg, #b0ced9, #ebecc7, #bad872);
            background: -o-linear-gradient(140deg, #b0ced9, #ebecc7, #bad872);
            background: linear-gradient(140deg, #b0ced9, #ebecc7, #bad872);

            &:hover {
                cursor: pointer;
            }
        }

        .slick-slide {
            margin-left: 10px;
        }

        .slick-list {
            margin-left: -10px;
        }

        .slick-prev.slick-arrow {
            left: 10px !important;
            z-index: 9;
        }

        .slick-next.slick-arrow {
            right: 20px !important;
            z-index: 9;
        }

        .slick-prev:before,
        .slick-next:before {
            color: $primary;
            font-size: 35px;
        }

        .product_block {
            position: relative;
            min-height: 440px;
            // justify-content: center;
            // align-items: center;
            // text-align: center;

            .product_title_box {
                margin: 0 auto;
                display: inherit;
                min-height: 80px;
            }

            .product_title {
                text-align: center;
                font-family: 'Montserrat-Bold';
                text-transform: uppercase;
                font-weight: 700;
                color: $primary;
                font-size: 24px;
                display: inherit;
            }

            img {
                width: 200px;
                height: auto;
                margin: 0 auto;
                // margin-top: 30px;
                // transition: transform .2s;
                -webkit-transition: transform 0.3s ease-in-out;
                -moz-transition: transform 0.3s ease-in-out;
                -ms-transition: transform 0.3s ease-in-out;
                -o-transition: transform 0.3s ease-in-out;
                transition: transform 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }
            }


        }

        .product_tag {
            background: $secondary;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            text-align: center;
            padding: 10px 0px;
            font-family: 'Gotham-Book-Regular';
            text-transform: uppercase;
            font-weight: 600;
            font-size: 18px;
            color: $font_white;
        }

    }
}

// Product section css end


// News section css start 
.news_section {
    padding: 50px 0px;

    .container {
        width: 100%;
        // min-height: 400px;
        max-width: 1920px;
        margin: 0 auto;
        overflow-x: hidden;
        // margin: 50px 0px;

        .title_text {
            text-transform: uppercase;
            font-size: 40px;
            letter-spacing: 1;
            font-family: 'Gotham-Book-Regular';
            font-weight: 600;
        }

        .slick-slide {
            margin-left: 10px;
        }

        .slick-list {
            margin-left: -10px;
        }

        .slick-prev.slick-arrow {
            left: 10px !important;
            z-index: 9;
        }

        .slick-next.slick-arrow {
            right: 20px !important;
            z-index: 9;
        }

        .slick-prev:before,
        .slick-next:before {
            color: $primary;
            font-size: 35px;
        }

        img {
            margin: 0 auto;
        }

        .news_text_section {
            padding: 60px;

            .news_title {
                position: relative;
                color: $primary;
                font-size: 42px;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-family: 'Gotham-Book-Regular';
                font-weight: 600;
            }

            .news_title::after {
                content: "";
                position: absolute;
                width: 60%;
                height: 2px;
                background-color: $primary;
                bottom: -6px; //to place it in bottom
                left: 0;
            }

            .news_text {
                padding-top: 20px;
                font-family: 'Montserrat-Bold';
                font-weight: 600;
                letter-spacing: 1;
                font-size: 14px;
                line-height: 24px;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .news_section {
        padding: 30px 0px;

        .container {
            .news_text_section {
                padding: 30px 30px 0px 30px !important;

                .news_title {
                    font-size: 32px;
                }
            }

            img {
                height: 400px;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .news_section {
        .container {
            .news_text_section {
                padding-bottom: 0px;
                padding-top: 40px;
            }
        }
    }
}


@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .news_section {
        .container {
            .news_title::after {
                width: 75% !important;
            }
        }
    }
}

// News section css end 